<h2>Add New Post</h2>

<p>
	<form role="form">
	  <div class="form-group">
	    <label for="example.InputEmail1">Email address</label>
	      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
	       </div>

	        <div class="form-group">
	         <label for="exampleInputPassword1">Password</label>
	           <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	            </div>

	            <div class="form-group">
	              <label for="exampleFile">File input</label>
	               <input type="file" id="exampleInputFifle">
	                 <p class="help-block">Example block-level help text here.</p>
	                 </div>

	                 <div class="checkbox">
	                   <labe>
	                    <input type="checkbox"> Check me out
	                     </labe>
	                     </div>

	                     <button type="submit" class="btn btn-default">Submit</button>
	                     </form>

</p>